@import '../../common/colors.scss';

.movie-list,
.show-list {
  margin: 20px 0;

  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .movie-container,
  .show-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
  }

  .loading {
    color: $font-primary;
  }
}
