@import '../../common/colors.scss';

.header {
  background-color: $secondary-color;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 20px;
  color: $font-primary;
  font-weight: 600;
}

.user-image, .user {
  width: 30px;
  height: 30px;
  color: lightblue;
}